.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(235, 230, 225);
  margin: -10px 0 20px;

  &-general, &-who {
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    margin: 10px;
  }

  &-general {
    letter-spacing: 0.1pc;
    line-height: 30px;
    padding: 40px;
    background-color: $primary-red-color;
    color: $primary-white-color;

    p {
      font-size: $title-size;
    }

    button {
      display: block;
      padding: 10px;
      margin: 50px auto;
      font-size: $body-size;
    }

    &-become-member {
      color: $primary-white-color;
      border: 2px solid $primary-white-color;
      background-color: $primary-red-color;
    }

    &-support {
      color: #000;
      background-color: $primary-white-color;
      border-radius: 15px;
    }
  }

  &-who {
    background-color: $primary-green-color;
    color: $primary-white-color;

    &-title {
      font-size: $title-size;
    }
  }
}

@include windowSize($TabletPortrait){
  .about {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0;

    &-general, &-who {
      width: 500px;

    }
  }
}
