.about-modal {
  background-color: aqua;
  padding: 10px;
  border-radius: 20px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;

  &-close-icon {
    float: right;

    img {
      height: 25px;
      width: 25px;
    }
  }

  &-form {
    &-group-field {
      display: flex;
      flex-basis: row;
      margin: 10px 0;

      &-label {
        flex: 1
      }

      &-input {
        box-sizing: border-box;
        flex: 2;

        input {
          width: 80%;
          padding: 10px;
          border-radius: 5px;
        }
      }

      &-radio {
        flex: 2;
      }
    }

    &-submit-button {
      width: 50%;
      margin: 10px auto;
      border-radius: 5px;
      background-color: $primary-green-color;

      input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $primary-green-color;
        color: $primary-white-color;
        font-weight: bold;
      }
    }
  }
}
